.register-wrapper {
  width: 100%; min-width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
  color: #777;
}

.login-box {
  width: 320px;
  margin: auto;
  background: #fff;
  padding: 1rem 2rem 3rem 2rem;
  border-radius: .25em;
  position: relative;
  -webkit-filter: drop-shadow(0 0 2em rgba(0,0,0,0.2));
  text-align: center;
  top: 150px;
}
